<div class="col-md-3 col-md-offset-2">
  <h2><%= @job.title %></h2>
  <hr>
  <p><strong>Category:</strong> <%= @job.category.name %></p>
  <p><strong>Company:</strong> <%= @job.company.name%></p>
  <p><strong>Description:</strong> <%= @job.description %></p>
  <p><strong>Lication:</strong> <%= @job.location %></p>
  <% if @job.featured? %>
    <strong>Premium Job!</strong>
  <% end %>
</div>
