<h2><%= @job.title %></h2>
<hr>
<p><strong>Empresa:</strong> <%= @job.category %></p>
<p><strong>Empresa:</strong> <%= @job.company.name%></p>
<p><strong>Descrição Completa:</strong> <%= @job.description %></p>
<p><strong>Localização:</strong> <%= @job.location %></p>
<% if @job.featured? %>
  <strong>Vaga em Destaque</strong>
<% end %>
