<section id="jobs">
  <div class="col-md-3 col-md-offset-2">
    <div class="panel panel-info ">
      <div class="panel-heading">
        <div class="panel-title">
          <h3>Jobs available</h3>
        </div>
      </div>
      <% @jobs.each do |job| %>
      <div class="jobs col-md-offset-1">
        <h3><%= job.title %>
          <% if job.recent? %>
          <span class="col-md-offset-1 label label-danger">
            <em class="glyphicon glyphicon-fire">New!</em>
          </span>
        </h3>
        <p>
          <strong>Job Location:
          </strong><%= job.location %></p>
        <p>
          <strong>Company Name:
          </strong><%= job.company.name %></p>
        <p>
          <strong>Category Name:
          </strong><%= job.category.name %></p>
        <h4>
          <span class="btn btn-default">
            <a class="glyphicon glyphicon-share-alt"><%= link_to 'See more', job %></a>
          </span>
        </h4>
        <% end %>
      </div>
      <% end %>
    </div>
  </section>
</div>
<aside>
  <div class="col-md-3">
    <div class="panel panel-info ">
      <div class="panel-heading">
        <div class="panel-title">
          <h3>Companies available</h3>
        </div>
      </div>
          <% @companies.each do |company| %>
          <div class="panel-body">
            <%= link_to company.name, company, class: "btn btn-default col-md-10 col-md-offset-1" %>
            <% if company.premium? %>
            <span class="col-md-offset-1 label label-danger">
              <em class="glyphicon glyphicon-fire">Premium!</em>
            </span>
          </div>
      </div>
        <% end %>
  </div>
<% end %>
</aside>
<aside>
  <div class="col-md-2">
    <div class="panel panel-info ">
      <div class="panel-heading">
        <div class="panel-title">
          <h3>Categories</h3>
        </div>
      </div>
      <% @categories.each do |category| %>
      <div class="panel-body">
        <%= link_to category.name, category, class: "btn btn-default col-md-10 col-md-offset-1" %>
      </div>
    <% end %>
    </div>
  </div>
</aside>
