<section id="jobs">
  <% @jobs.each do |job| %>
    <div class="jobs">
      <h3><%= job.title %></h1>
      <p><%= job.location %></p>
      <p><%= job.company.name %></p>
      <p><%= job.category.name %></p>
      <% if job.recent? %>
        <p><em>Novidade</em></p>
      <% end %>
      <%= link_to 'Ver mais', job %>
    </div>
  <% end %>
</section>
<aside>
  <% @companies.each do |company| %>
    <%= link_to company.name, company %>
    <% if company.premium? %>
    <p>
      Empresa Premium
    </p>
    <% end %>
  <% end %>
</aside>
<aside>
  <% @categories.each do |category| %>
    <%= link_to category.name, category %>
  <% end %>
</aside>
