<h1><%= @category.name %></h1>
<h2>Vagas</h2>
<% @category.jobs.each do |job| %>
  <p><%= job.title %></p>
  <p><%= job.location %></p>
  <p><%= job.category %></p>
  <p><%= job.description %></p>
<% end %>
